<style>
    .uv-sidebar:not(.uv-sidebar-active) .uv-language .lang-wrapper {
        width: 300px;
        text-align: center;
        transition: 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    .uv-sidebar ul.uv-menubar.uv-language {
        position: fixed;
        bottom: 0px;
    }
    
    .uv-sidebar.uv-sidebar-active ul.uv-menubar.uv-language li a {
        width: 58px;
    }
    
    .uv-sidebar ul.uv-menubar.uv-language li a {
        max-width: 100%;
    }
    
    .uv-sidebar ul.uv-menubar.uv-language li a:hover, .uv-sidebar ul.uv-menubar.uv-language li .uv-item-active {
        color: #9E9E9E !important;
        border-left: 3px solid transparent;
    }
    
    .uv-sidebar ul.uv-menubar.uv-language a.uv-cursor {
        padding: 25px 27px;
    }
    
    .uv-sidebar ul.uv-menubar.uv-language .uv-profile.uv-dropdown-other {
        margin: -25px -27px;
        padding: 17px 18px;
    }

    .uv-wrapper-padding {
        padding-left: 300px !important;
    }

    @media screen and (min-width: 1400px) {
        .uv-sidebar .uv-soft-top a.uv-logo {
            display: none;
            margin: 10px 7px;
        }

        .uv-sidebar .uv-soft-top .uv-hamburger {
            display: block;
            margin: 24px 20px;
        }
    }

    @media only screen and (max-width: 900px) {
        .uv-sidebar ul.uv-menubar.uv-language li a {
            width: 58px;
        }
    }
</style>

{% if null == app.request.cookies.get('uv-sidebar-status') %}
	<script type="text/javascript">
		document.addEventListener("DOMContentLoaded", function(e) {
			window.dispatchEvent(new Event('resize'));
		    var uvView = document.querySelector(".uv-view");
			if (uvView && uvView.offsetWidth <= 1340) {
				document.cookie = "uv-sidebar-status=1; expires=Wed, 01 Jan 2020 00:00:00 GMT;path=/";
			}
		});
	</script>
{% endif %}
{% set websiteConfiguration = user_service.getWebsiteConfiguration('knowledgebase') %}

<div class="uv-sidebar {% if app.request.cookies.get('uv-sidebar-status') %}uv-sidebar-active{% endif %}">
	<div style="overflow: hidden;">
		<div class="uv-soft-top">
			<a href="{{ path('helpdesk_member_dashboard') }}" class="uv-logo">
				{# <img src="" alt="Logo" width="123" height="48"> #}
			</a>

			<span class="uv-hamburger">
				<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="20px" height="14px">
                    <path fill-rule="evenodd"  fill="rgb(158, 158, 158)" d="M19.000,2.000 L6.000,2.000 C5.448,2.000 5.000,1.552 5.000,1.000 C5.000,0.448 5.448,-0.000 6.000,-0.000 L19.000,-0.000 C19.552,-0.000 20.000,0.448 20.000,1.000 C20.000,1.552 19.552,2.000 19.000,2.000 ZM20.000,7.000 C20.000,7.552 19.552,8.000 19.000,8.000 L1.000,8.000 C0.448,8.000 0.000,7.552 0.000,7.000 C0.000,6.448 0.448,6.000 1.000,6.000 L19.000,6.000 C19.552,6.000 20.000,6.448 20.000,7.000 ZM3.000,12.000 L15.000,12.000 C15.552,12.000 16.000,12.448 16.000,13.000 C16.000,13.552 15.552,14.000 15.000,14.000 L3.000,14.000 C2.448,14.000 2.000,13.552 2.000,13.000 C2.000,12.448 2.448,12.000 3.000,12.000 Z"/>
				</svg>
			</span>
		</div>
	</div>

	<ul class="uv-menubar">
		{# Sidebar Navigation #}
        {% set route = app.request.attributes.get('_route') %}
        
		{{ uvdesk_extensibles.getRegisteredComponent('Webkul\\UVDesk\\CoreFrameworkBundle\\Dashboard\\Dashboard').getNavigationTemplate().render()|raw }}
	</ul>

    <ul class="uv-menubar uv-language">
	    {# Sidebar Quike-langauge-select-option #}
		<li>
			<a class="uv-cursor">
				<span style="position: relative">
					<div class="uv-profile uv-dropdown-other">
						<span class="uv-icon uv-skin-svg">
							<svg xmlns="http://www.w3.org/2000/svg"
								xmlns:xlink="http://www.w3.org/1999/xlink"
								width="20px" height="20px">
								<path fill-rule="evenodd"  fill="rgb(158, 158, 158)"
								d="M13.076,5.199 L11.543,3.000 L14.505,3.000 L13.076,5.199 ZM12.000,12.000 L12.000,8.763 L13.105,7.061 L15.161,10.010 L16.001,9.395 L13.717,6.119 L15.744,3.000 L17.000,3.000 L17.000,2.000 L15.174,2.000 L15.161,1.990 L15.154,2.000 L13.000,2.000 L13.000,1.000 L12.000,1.000 L12.000,2.000 L10.846,2.000 L10.839,1.990 L10.826,2.000 L9.000,2.000 L9.000,3.000 L10.275,3.000 L12.464,6.141 L11.906,7.000 L7.000,7.000 L7.000,-0.000 L19.000,-0.000 L19.000,12.000 L12.000,12.000 ZM11.000,8.394 L10.999,8.395 L11.000,8.396 L11.000,19.000 L-0.000,19.000 L-0.000,8.000 L11.000,8.000 L11.000,8.394 ZM6.288,9.992 L4.773,9.992 L2.005,16.994 L3.458,16.994 L4.208,15.017 L6.842,15.017 L7.587,16.994 L9.014,16.994 L6.288,9.992 ZM5.538,11.205 C5.555,11.266 5.872,12.215 6.488,14.052 L4.557,14.052 L5.538,11.205 ZM15.000,13.000 L17.000,13.000 L17.000,16.025 L15.000,18.000 C15.000,18.000 14.983,18.000 14.951,18.000 C14.564,18.000 12.000,18.000 12.000,18.000 L12.000,16.000 L15.000,16.000 L15.000,13.000 Z"/>
							</svg>
						</span>
						<span class="uv-menu-item">
							<span class="" style="color: #BABABA;font-weight: normal;">{{ 'Language'|trans }}: </span>
							<span style="text-transform:capitalize;color: black;font-weight: normal;">{{ uvdesk_service.getLocales()[app.request.locale] is defined ? uvdesk_service.getLocales()[app.request.locale] : app.request.locale }}</span>
							<span aria-hidden="true" style="color: rgb(155, 155, 155);">▼</span>
						</span>
					</div>
					<div class="uv-dropdown-list uv-bottom-left">
						<div class="uv-dropdown-container">
							<ul>
								{% for localeCode, localeName in uvdesk_service.getLocales() %}
									<li data-value="{{ uvdesk_service.getLocaleUrl(localeCode) }}" {% if app.request.locale == localeCode %}class="uv-active"{% endif %} onclick="window.location = this.getAttribute('data-value')">
										{{ localeName }}
									</li>
								{% endfor %}
							</ul>
						</div>
					</div>
				</span>
			</a>
		</li>
	</ul>
</div>

<script type="text/javascript">
    document.addEventListener("DOMContentLoaded", function() {
        fetch('{{ path("uvdesk_community_tracker_cache_image") }}')
            .then(response => response.json())
            .then(data => {
                const fillColor = '{{ websiteConfiguration.brandColor }}'; 

                const svgContent = `<svg width="123" height="48" viewBox="0 0 123 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M60.5732 31.9867C59.6394 31.9867 58.7961 31.7986 58.0434 31.4222C57.3047 31.0459 56.7193 30.4257 56.2872 29.5615C55.8552 28.6973 55.6391 27.5335 55.6391 26.07V18.0207H57.3744V26.1118C57.3744 27.2129 57.5138 28.084 57.7926 28.7252C58.0853 29.3524 58.4686 29.7984 58.9425 30.0633C59.4303 30.3281 59.9739 30.4605 60.5732 30.4605C61.1865 30.4605 61.7371 30.3281 62.2249 30.0633C62.7127 29.7984 63.096 29.3524 63.3748 28.7252C63.6675 28.084 63.8139 27.2129 63.8139 26.1118V18.0207H65.4864V26.07C65.4864 27.5335 65.2704 28.6973 64.8383 29.5615C64.4062 30.4257 63.8208 31.0459 63.0821 31.4222C62.3434 31.7986 61.5071 31.9867 60.5732 31.9867ZM71.6044 31.7358L67.2139 18.0207H69.0746L71.2699 25.4218C71.5208 26.2303 71.7368 26.9899 71.918 27.7007C72.1132 28.3976 72.3431 29.1503 72.608 29.9587H72.6916C72.9425 29.1503 73.1655 28.3976 73.3606 27.7007C73.5558 26.9899 73.7718 26.2303 74.0088 25.4218L76.204 18.0207H77.9811L73.6324 31.7358H71.6044ZM82.8525 31.9867C81.5842 31.9867 80.5667 31.5268 79.8001 30.6068C79.0335 29.673 78.6502 28.3628 78.6502 26.6763C78.6502 25.5752 78.8523 24.6274 79.2565 23.8329C79.6746 23.0245 80.2182 22.4042 80.8872 21.9721C81.5702 21.5401 82.295 21.324 83.0616 21.324C83.647 21.324 84.1557 21.4286 84.5878 21.6376C85.0199 21.8467 85.459 22.1324 85.905 22.4948L85.8214 20.7595V16.8499H87.5567V31.7358H86.135L85.9886 30.5441H85.9259C85.5356 30.9344 85.0757 31.2759 84.546 31.5686C84.0164 31.8473 83.4519 31.9867 82.8525 31.9867ZM83.2289 30.5441C84.1209 30.5441 84.9851 30.0772 85.8214 29.1433V23.8329C85.3893 23.4426 84.9711 23.1708 84.5669 23.0175C84.1767 22.8503 83.7724 22.7666 83.3543 22.7666C82.8107 22.7666 82.3159 22.9339 81.8699 23.2684C81.4378 23.589 81.0893 24.042 80.8245 24.6274C80.5597 25.1988 80.4273 25.8748 80.4273 26.6554C80.4273 27.868 80.6712 28.8228 81.159 29.5197C81.6469 30.2026 82.3368 30.5441 83.2289 30.5441ZM95.0976 31.9867C94.1917 31.9867 93.3693 31.7777 92.6306 31.3595C91.8919 30.9274 91.3065 30.3141 90.8744 29.5197C90.4423 28.7252 90.2263 27.7774 90.2263 26.6763C90.2263 25.5612 90.4423 24.6065 90.8744 23.812C91.3204 23.0175 91.8919 22.4042 92.5888 21.9721C93.2857 21.5401 94.0174 21.324 94.784 21.324C96.0803 21.324 97.0769 21.7561 97.7738 22.6203C98.4846 23.4844 98.84 24.6413 98.84 26.0909C98.84 26.2721 98.8331 26.4533 98.8191 26.6345C98.8191 26.8017 98.8052 26.9481 98.7773 27.0735H91.9197C91.9894 28.1468 92.324 29.004 92.9233 29.6451C93.5366 30.2863 94.331 30.6068 95.3067 30.6068C95.7946 30.6068 96.2406 30.5372 96.6448 30.3978C97.0629 30.2445 97.4602 30.0493 97.8365 29.8124L98.4428 30.9414C98.0107 31.2201 97.5159 31.464 96.9584 31.6731C96.4148 31.8822 95.7946 31.9867 95.0976 31.9867ZM91.8988 25.84H97.3347C97.3347 24.8086 97.1117 24.028 96.6657 23.4984C96.2336 22.9548 95.6203 22.683 94.8259 22.683C94.115 22.683 93.4739 22.9618 92.9024 23.5193C92.3449 24.0629 92.0103 24.8364 91.8988 25.84ZM104.006 31.9867C103.281 31.9867 102.591 31.8543 101.936 31.5895C101.281 31.3107 100.71 30.9762 100.222 30.5859L101.079 29.436C101.525 29.7845 101.985 30.0772 102.459 30.3141C102.933 30.5372 103.469 30.6487 104.069 30.6487C104.738 30.6487 105.24 30.4953 105.574 30.1887C105.909 29.8681 106.076 29.4918 106.076 29.0597C106.076 28.7113 105.957 28.4186 105.72 28.1816C105.497 27.9447 105.205 27.7495 104.842 27.5962C104.494 27.4289 104.132 27.2756 103.755 27.1362C103.281 26.955 102.814 26.7529 102.354 26.5299C101.894 26.293 101.518 25.9933 101.225 25.6309C100.933 25.2546 100.786 24.7807 100.786 24.2092C100.786 23.3869 101.093 22.7039 101.706 22.1603C102.334 21.6028 103.198 21.324 104.299 21.324C104.926 21.324 105.511 21.4355 106.055 21.6585C106.599 21.8816 107.066 22.1533 107.456 22.4739L106.62 23.5611C106.271 23.2963 105.909 23.0802 105.532 22.913C105.156 22.7457 104.745 22.6621 104.299 22.6621C103.658 22.6621 103.184 22.8084 102.877 23.1011C102.584 23.3938 102.438 23.7353 102.438 24.1256C102.438 24.4462 102.543 24.711 102.752 24.9201C102.961 25.1152 103.233 25.2894 103.567 25.4428C103.902 25.5821 104.257 25.7285 104.633 25.8818C105.121 26.063 105.602 26.2721 106.076 26.509C106.55 26.732 106.94 27.0387 107.247 27.4289C107.567 27.8053 107.728 28.314 107.728 28.9552C107.728 29.4988 107.581 30.0005 107.289 30.4605C107.01 30.9205 106.592 31.2898 106.034 31.5686C105.491 31.8473 104.815 31.9867 104.006 31.9867ZM110.11 31.7358V16.8499H111.803V26.9272H111.866L116.194 21.5749H118.096L114.689 25.6518L118.556 31.7358H116.675L113.706 26.8435L111.803 29.0597V31.7358H110.11Z" fill="${fillColor}"/>
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M47.7922 22.8066H48.6285C48.8872 22.8066 49.1354 22.9094 49.3184 23.0923C49.5014 23.2753 49.6041 23.5235 49.6041 23.7822V24.2004H46.8165V23.7822C46.8165 23.5235 46.9193 23.2753 47.1023 23.0923C47.2852 22.9094 47.5334 22.8066 47.7922 22.8066ZM44.0289 29.7757H42.6351V18.6251H44.0289C44.2178 18.6004 44.4098 18.6195 44.5901 18.6808C44.7705 18.7422 44.9343 18.8441 45.069 18.9788C45.2037 19.1135 45.3056 19.2773 45.367 19.4577C45.4283 19.638 45.4474 19.83 45.4227 20.0189V28.3818C45.4474 28.5707 45.4283 28.7627 45.367 28.9431C45.3056 29.1234 45.2037 29.2873 45.069 29.422C44.9343 29.5567 44.7705 29.6586 44.5901 29.7199C44.4098 29.7813 44.2178 29.8003 44.0289 29.7757ZM49.6041 25.5942H46.8165C46.8165 25.5942 48.1323 40.6683 31.4845 42.32C31.3516 42.7751 31.3516 43.2587 31.4845 43.7138C37.7567 43.4351 50.1617 39.5616 49.6041 25.5942ZM30.1074 43.0169C30.1074 43.4326 29.9842 43.839 29.7532 44.1847C29.5222 44.5303 29.194 44.7997 28.8099 44.9588C28.4258 45.1179 28.0032 45.1595 27.5955 45.0784C27.1878 44.9973 26.8133 44.7971 26.5193 44.5032C26.2253 44.2092 26.0252 43.8347 25.9441 43.427C25.863 43.0193 25.9046 42.5966 26.0637 42.2126C26.2228 41.8285 26.4922 41.5002 26.8378 41.2693C27.1835 41.0383 27.5898 40.915 28.0055 40.915C28.5629 40.9154 29.0973 41.137 29.4914 41.5311C29.8855 41.9252 30.1071 42.4596 30.1074 43.0169ZM12.9314 39.7944C10.0863 36.7349 8.45962 32.7397 8.3583 28.563L7.975 23.5035C11.4161 22.9958 14.5716 21.3012 16.8954 18.7129C18.2518 20.3331 19.9426 21.6407 21.8518 22.5459C24.3845 23.6444 27.1404 24.13 29.896 23.9634C32.6515 23.7967 35.3289 22.9826 37.7107 21.587L41.6747 18.7129C41.7414 18.3968 41.7414 18.0702 41.6747 17.754C41.3695 8.46697 32.6274 0.505488 22.8428 0.505488C20.5361 0.455971 18.2423 0.863962 16.0941 1.70591C13.9459 2.54785 11.9858 3.80706 10.327 5.41081C8.66814 7.01455 7.34349 8.93104 6.42952 11.0496C5.51555 13.1682 5.03036 15.4468 5.00199 17.754V28.294C4.93229 33.2259 6.69889 38.0076 9.9584 41.7095C11.8178 43.8795 14.2078 45.5305 16.8954 46.5015L17.8864 43.6274C15.9495 42.7686 14.2494 41.4534 12.9314 39.7944ZM15.4445 25.5942C14.7549 25.5923 14.0802 25.795 13.5059 26.1767C12.9316 26.5584 12.4835 27.1019 12.2182 27.7385C11.953 28.375 11.8826 29.076 12.0159 29.7525C12.1493 30.4291 12.4804 31.0509 12.9673 31.5392C13.4542 32.0275 14.0751 32.3604 14.7513 32.4956C15.4275 32.6308 16.1286 32.5624 16.7659 32.299C17.4032 32.0355 17.948 31.5889 18.3313 31.0157C18.7146 30.4424 18.9192 29.7683 18.9193 29.0787C18.9193 28.1563 18.5535 27.2714 17.9021 26.6182C17.2507 25.965 16.3669 25.5968 15.4445 25.5942ZM32.1703 32.5633C32.8599 32.5655 33.5347 32.363 34.1092 31.9815C34.6837 31.5999 35.1321 31.0565 35.3975 30.42C35.663 29.7834 35.7336 29.0825 35.6004 28.4058C35.4672 27.7291 35.1362 27.1072 34.6493 26.6188C34.1624 26.1303 33.5416 25.7974 32.8653 25.662C32.1891 25.5266 31.4879 25.595 30.8505 25.8584C30.2132 26.1218 29.6683 26.5684 29.2849 27.1417C28.9015 27.7149 28.6969 28.3891 28.6969 29.0787C28.6969 30.0029 29.064 30.8892 29.7175 31.5427C30.371 32.1962 31.2573 32.5633 32.1814 32.5633H32.1703Z" fill="${fillColor}"/>
                    </svg>`;
                
                const logoContainer = document.querySelector('.uv-logo');
                
                if (logoContainer) {
                    //logoContainer.src = data;
                    logoContainer.innerHTML = svgContent;
                }
            })
            .catch(error => console.error('Error fetching the image path:', error));
    });
</script>
