<style>
    .uv-sidebar:not(.uv-sidebar-active) .uv-language .lang-wrapper {
        width: 300px;
        text-align: center;
        transition: 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    .uv-sidebar ul.uv-menubar.uv-language{
        position: fixed;
        bottom: 0px;
    }
    
    .uv-sidebar.uv-sidebar-active ul.uv-menubar.uv-language li a{
        width: 58px;
    }
    
    .uv-sidebar ul.uv-menubar.uv-language li a{
        max-width: 100%;
    }
    
    .uv-sidebar ul.uv-menubar.uv-language li a:hover, .uv-sidebar ul.uv-menubar.uv-language li .uv-item-active{
        color: #9E9E9E !important;
        border-left: 3px solid transparent;
    }
    
    .uv-sidebar ul.uv-menubar.uv-language a.uv-cursor{
        padding: 25px 27px;
    }
    
    .uv-sidebar ul.uv-menubar.uv-language .uv-profile.uv-dropdown-other{
        margin: -25px -27px;
        padding: 17px 18px;
    }

    .uv-wrapper-padding  {
        padding-left: 300px !important;
    }

    @media screen and (min-width: 1400px) {
        .uv-sidebar .uv-soft-top a.uv-logo {
            display: none;
            margin: 10px 7px;
        }

        .uv-sidebar .uv-soft-top .uv-hamburger {
            display: block;
            margin: 24px 20px;
        }
    }

    @media only screen and (max-width: 900px) {
        .uv-sidebar ul.uv-menubar.uv-language li a {
            width: 58px;
        }
    }
</style>

{% if null == app.request.cookies.get('uv-sidebar-status') %}
	<script type="text/javascript">
		document.addEventListener("DOMContentLoaded", function(e) {
			window.dispatchEvent(new Event('resize'));
		    var uvView = document.querySelector(".uv-view");
			if(uvView && uvView.offsetWidth <= 1340) {
				document.cookie = "uv-sidebar-status=1; expires=Wed, 01 Jan 2020 00:00:00 GMT;path=/";
			}
		});
	</script>
{% endif %}

<div class="uv-sidebar {% if app.request.cookies.get('uv-sidebar-status') %}uv-sidebar-active{% endif %}">
	<div style="overflow: hidden;">
		<div class="uv-soft-top">
			<a href="{{ path('helpdesk_member_dashboard') }}" class="uv-logo">
				<img src="" alt="Logo" width="123" height="48">
			</a>

			<span class="uv-hamburger">
				<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="20px" height="14px">
                    <path fill-rule="evenodd"  fill="rgb(158, 158, 158)" d="M19.000,2.000 L6.000,2.000 C5.448,2.000 5.000,1.552 5.000,1.000 C5.000,0.448 5.448,-0.000 6.000,-0.000 L19.000,-0.000 C19.552,-0.000 20.000,0.448 20.000,1.000 C20.000,1.552 19.552,2.000 19.000,2.000 ZM20.000,7.000 C20.000,7.552 19.552,8.000 19.000,8.000 L1.000,8.000 C0.448,8.000 0.000,7.552 0.000,7.000 C0.000,6.448 0.448,6.000 1.000,6.000 L19.000,6.000 C19.552,6.000 20.000,6.448 20.000,7.000 ZM3.000,12.000 L15.000,12.000 C15.552,12.000 16.000,12.448 16.000,13.000 C16.000,13.552 15.552,14.000 15.000,14.000 L3.000,14.000 C2.448,14.000 2.000,13.552 2.000,13.000 C2.000,12.448 2.448,12.000 3.000,12.000 Z"/>
				</svg>
			</span>
		</div>
	</div>

	<ul class="uv-menubar">
		{# Sidebar Navigation #}
        {% set route = app.request.attributes.get('_route') %}
        
		{{ uvdesk_extensibles.getRegisteredComponent('Webkul\\UVDesk\\CoreFrameworkBundle\\Dashboard\\Dashboard').getNavigationTemplate().render()|raw }}
	</ul>

    <ul class="uv-menubar uv-language">
	    {# Sidebar Quike-langauge-select-option #}
		<li>
			<a class="uv-cursor">
				<span style="position: relative">
					<div class="uv-profile uv-dropdown-other">
						<span class="uv-icon uv-skin-svg">
							<svg xmlns="http://www.w3.org/2000/svg"
								xmlns:xlink="http://www.w3.org/1999/xlink"
								width="20px" height="20px">
								<path fill-rule="evenodd"  fill="rgb(158, 158, 158)"
								d="M13.076,5.199 L11.543,3.000 L14.505,3.000 L13.076,5.199 ZM12.000,12.000 L12.000,8.763 L13.105,7.061 L15.161,10.010 L16.001,9.395 L13.717,6.119 L15.744,3.000 L17.000,3.000 L17.000,2.000 L15.174,2.000 L15.161,1.990 L15.154,2.000 L13.000,2.000 L13.000,1.000 L12.000,1.000 L12.000,2.000 L10.846,2.000 L10.839,1.990 L10.826,2.000 L9.000,2.000 L9.000,3.000 L10.275,3.000 L12.464,6.141 L11.906,7.000 L7.000,7.000 L7.000,-0.000 L19.000,-0.000 L19.000,12.000 L12.000,12.000 ZM11.000,8.394 L10.999,8.395 L11.000,8.396 L11.000,19.000 L-0.000,19.000 L-0.000,8.000 L11.000,8.000 L11.000,8.394 ZM6.288,9.992 L4.773,9.992 L2.005,16.994 L3.458,16.994 L4.208,15.017 L6.842,15.017 L7.587,16.994 L9.014,16.994 L6.288,9.992 ZM5.538,11.205 C5.555,11.266 5.872,12.215 6.488,14.052 L4.557,14.052 L5.538,11.205 ZM15.000,13.000 L17.000,13.000 L17.000,16.025 L15.000,18.000 C15.000,18.000 14.983,18.000 14.951,18.000 C14.564,18.000 12.000,18.000 12.000,18.000 L12.000,16.000 L15.000,16.000 L15.000,13.000 Z"/>
							</svg>
						</span>
						<span class="uv-menu-item">
							<span class="" style="color: #BABABA;font-weight: normal;">{{ 'Language'|trans }}: </span>
							<span style="text-transform:capitalize;color: black;font-weight: normal;">{{ uvdesk_service.getLocales()[app.request.locale] is defined ? uvdesk_service.getLocales()[app.request.locale] : app.request.locale }}</span>
							<span aria-hidden="true" style="color: rgb(155, 155, 155);">▼</span>
						</span>
					</div>
					<div class="uv-dropdown-list uv-bottom-left">
						<div class="uv-dropdown-container">
							<ul>
								{% for localeCode, localeName in uvdesk_service.getLocales() %}
									<li data-value="{{ uvdesk_service.getLocaleUrl(localeCode) }}" {% if app.request.locale == localeCode %}class="uv-active"{% endif %} onclick="window.location = this.getAttribute('data-value')">
										{{ localeName }}
									</li>
								{% endfor %}
							</ul>
						</div>
					</div>
				</span>
			</a>
		</li>
	</ul>
</div>

<script type="text/javascript">
    document.addEventListener("DOMContentLoaded", function() {
        fetch('{{ path("uvdesk_community_tracker_cache_image") }}')
            .then(response => response.json())
            .then(data => {
                const logoImg = document.querySelector('.uv-logo img');
                if (logoImg) {
                    // Set the image source to the URL provided by the server
                    logoImg.src = data;
                }
            })
            .catch(error => console.error('Error fetching the image path:', error));
    });
</script>